// styling for bare HTML elements (like H1, A, etc.). These come with default styling from the browser so we can redefine them here.

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    font-family: $bebas;
}

h3 {
    font-size: 5rem;
    font-weight: 900;
    
}

p, span, ul, li, a, input, textarea {
    font-size: 2rem;
    $lato: 'lato', $fallback;
}

a {
    color: $green;
    text-decoration: none;
    text-transform: uppercase;
}

img {
    width: 100%;
}