._flex {
    display: flex;

    &.--column {
        flex-direction: column;
    }

    &.--between {
        justify-content: space-between;
    }

    &.--center {
        justify-content: center;
    }
}

.mobile {
    @media (min-width: 769px) {
        display: none;
    }
}

.desktop {
    display: none;

    @media (min-width: 769px) {
        display: block;
    }
}