$fallback: 'Arial Thin', 'Helvetica', 'Arial', sans-serif;
$serif-fallback: 'Courier', 'Courier New', serif;

$lato: 'lato', $fallback;
$bebas: 'Bebas Neue', $fallback;

// Colors
$white: #ffffff;
$offWhite: #f5f5f5;
$green: #0db991;
$blue: #3498db;
$lgreen: #0adcab;
$black: #000000;
$textGrey: #777777;
$backGrey: #585858;