$fallback: 'Arial Thin', 'Helvetica', 'Arial', sans-serif;
$serif-fallback: 'Courier', 'Courier New', serif;

$lato: 'lato', $fallback;
$bebas: 'Bebas Neue', $fallback;

// Colors
$white: #ffffff;
$green: #0db991;
$blue: #3498db;
$lgreen: #0adcab;