@import "../../../../styles/helpers/tools.scss";
@import "../../../../styles/helpers/vars.scss";

    
nav {
    @include border(none, 0px 0px 1px);
    background: $black;
    transition: all 0.6s linear;
    height: 57px;

    & > div {
        transition: all 0.35s ease-in-out;
    }

        
    h1 {
        @include fontSettings($blue, 20px, 700, 1, 18px auto);
    }


    button {
        margin: 12.5px 5px;

        span {
            @include dimensions(null, 30px, 5px, 2.5px, 2px);
        }

        &:hover > span {
            background: $green;
            transition: 0.25s linear;
        }
    }

    .ul-list {
        margin: 5% 0px;
        padding: 0px;
        
        a {
            @include fontSettings($white, 42px, 400, 1, 0);

            &:hover {
                color: $green;
            }

            @media(min-width: 760px){
                font-size: 75px;
            }
        }

        @for $i from 1 through 5 {
            $animD: 0.1s * $i;
            $marginT: 20% * $i;
            $marginU: 25% * $i;

            .li#{$i} {
                margin-top: $marginT;

                @media(min-width: 760px) {
                    margin-top: $marginU;
                }
            }
        }   
    }
}

@mixin barChange($color, $tran) {
    background: $color;
    transform: $tran;
    transition: all 0.25s linear;
}

@mixin navButtonChange($opc, $form, $tran){
    opacity: $opc;
    transform: $form;
    transition: $tran;
}

.header-norm {
    height: 55px;

    span {
        @include barChange($white, translateY(0px) rotate(0));
        opacity: 1;
    }

    li{
        &:nth-child(1){
            @include navButtonChange(0, translateY(-100px), all 0.25s linear 0.4s);
        }
        &:nth-child(2){
            @include navButtonChange(0, translateY(-100px), all 0.25s linear 0.3s);
        }

        &:nth-child(3){
            @include navButtonChange(0, translateY(-100px), all 0.25s linear 0.2s);
        }

        &:nth-child(4){
            @include navButtonChange(0, translateY(-100px), all 0.25s linear 0.1s);
        }

        &:nth-child(5){
            @include navButtonChange(0, translateY(-100px), all 0.25s linear 0s);
        }

    }
}

.header-hc{
    height: 100%;
    
    span{

        &:nth-child(1){
            @include barChange(red, translateY(10px) rotate(45deg));
        }

        &:nth-child(2){
            @include barChange(red, translateY(1px) rotate(-45deg));
        }

        &:nth-child(3){
            opacity: 0;
        }       
    }
    li{    
        &:nth-child(1){
            @include navButtonChange(1, translateY(50px), all 0.25s linear 0s);
        }
        
        
        &:nth-child(2){
            @include navButtonChange(1, translateY(50px), all 0.25s linear 0.1s);
        }

        
        &:nth-child(3){
            @include navButtonChange(1, translateY(50px), all 0.25s linear 0.2s);
        }
        
        
        &:nth-child(4){
            @include navButtonChange(1, translateY(50px), all 0.25s linear 0.3s);
        }
        
        &:nth-child(5){
            @include navButtonChange(1, translateY(50px), all 0.25s linear 0.4s);
        }
    }
}