
<nav class = "navbar border flex abs z5 grid10 header-hd" id="primeNav" [ngClass] = "hchange ? 'header-hc' : 'header-norm'"> 
  <section class = "opacity-none grid10" id = "navHoldings">
    <button class="button-holder no-border no-background abs point flex column center z4"  id ="Button" (click)='openNav()'>
          <div class="barz1" [ngClass] = "barchange1 ? 'bar-hc1' : 'bar-norm'"></div>
          <div class="barz1" [ngClass] = "barchange2 ? 'bar-hc2' : 'bar-norm'"></div>
          <div class="barz1" [ngClass] = "barchange3 ? 'bar-hc3' : 'bar-norm'"></div>
      </button>
      <div class= "title-holder top abs flex hgrid10 center grid10">
          <h1 class= "prime-f">T&Ttabz</h1>
      </div>
      <div class= "button-list flex grid10 column" id= "navid">
          <div class = "flex center row" id= "divid">
              <button class = " button-links prime-f point abs no-border no-background" id= "btn1Id" [ngClass] = "btnchange1 ? 'button-hc1' : 'button-norm1'">Home</button>
              <button class = " button-links prime-f point abs no-border no-background" id= "btn2Id" [ngClass] = "btnchange2 ? 'button-hc2'  : 'button-norm2'">Our Work</button>
              <button class = " button-links prime-f point abs no-border no-background" id= "btn3Id" [ngClass] = "btnchange3 ? 'button-hc3' : 'button-norm3'">Services</button>
              <button class = " button-links prime-f point abs no-border no-background" id= "btn4Id" [ngClass] = "btnchange4 ? 'button-hc4'  : 'button-norm4'">About Us</button>
              <button class = " button-links prime-f point abs no-border no-background" id= "btn5Id" [ngClass] = "btnchange5 ? 'button-hc5' : 'button-norm5'">Contact</button>
          </div>
      </div>
  </section>
</nav>
