@import '../../../styles/helpers/vars.scss';
@import '../../../styles/helpers/tools.scss';

:host {
    width: 100%;
    position: relative;
}

h2 {
    text-align: center;
    font-size: 6rem;
    margin: 20px 0;
    font-weight: 900;
    width: 100%;
}

h3 {
    font-size: 4rem;
    margin: 10px 0;
}

p {
    margin: 10px 0 20px;
}

.contact-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 1500px;
    margin: 0 5%;

    > div {
        width: 100%;
    }

    @media(min-width: 768px) {
        flex-direction: row;

        .contact-information {
            width: 40%;
            order: 2;
        }

        #frmContact {
            width: 55%;
            margin: 0 5% 0 0;
            order: 1;
        }
    }

    @media(min-width: 1500px){
        margin: 0 auto;
    }
}

.call, .email {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 15px auto;
    max-width: 380px;
    
    .icons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 20px 0 0;

        i {
            margin: 5px 0;
            font-size: 4rem;
            color: #ff0068;
        }
    }

    .info {
        display: flex;
        align-items: flex-start;

        p, a {
            font-family: $bebas;
            font-size: 3rem;
            font-weight: 400;
            margin: 0;
        }

        a {
            word-break: break-all;
            text-align: left;
            display: inline-block;
        }
    }
}

.call {
    border-bottom: 1px solid #c010d3;
    padding: 0 0 20px;
}

.contact-information {
    @include bgGrad(#c010d3, #ff0068, 180deg);
    border-radius: 3px;
    margin: 0 0 40px;
    padding: 20px;
    box-shadow: 0px -2px 9px rgba(0, 0, 0, 0.3);

    .background {
        background: #ffffff;
        box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.5);
        border-radius: 3px;
        padding: 15px;
        text-align: center;
    }
}

#frmContact {
    @include bgGrad(#c010d3, #ff0068, 180deg);
    border-radius: 3px;
    margin: 0;
    padding: 20px;
    box-shadow: 0px -2px 9px rgba(0, 0, 0, 0.3);

    

    p {
        margin: 0 0 20px;
    }

    .background {
        background: #ffffff;
        box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.5);
        border-radius: 3px;
        padding: 15px;
        text-align: center;

        label {
            font-family: $bebas;
            font-weight: 900;
            padding: 5px 0;
            font-size: 3rem;
            box-shadow: inset 0px -2px 9px rgba(0, 0, 0, 0.3);
            @include bgGrad(#f2a713, #ff0068, 160deg);
            @extend %textShadow;
            color: #ffffff;
            border: 1px solid black;
            border-radius: 3px 3px 0 0;
            width: 100%;
            display: block;
        }

        input, textarea {
            width: 100%;
            border: 1px solid black;
            box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.5);
            border-radius: 0 0 3px 3px;
            margin: 0 0 20px;
            background: #efefef;
            padding: 11px 15px;
            position: relative;
            top: -2px;
        }

        button {
            @include bgGrad(#0db991, #a1ff5e, 148deg);
            width: 100%;
            border: none;
            @extend %textShadow;
            color: #ffffff;
            font-size: 3rem;
            font-family: $bebas;
            font-weight: 900;
            border-radius: 3px;
            border: 1px solid black;
            padding: 3px 0 2px;
        }
    }
}