<div class="toplogo">
  <div class="logo">
    <h2>Our Story</h2>
  </div>
</div>

<div class='textSection wedothings'>
  <div class="info">
    <h3>Who are we?</h3>
    <p>Ttabz is a unique business structure that came together to create the best solutions. Our team is all freelancers that all came together in a colloberative effort to create the best solutions. This allows us all to specialize in what we individually do best while using each others support to reach the best final product.</p>
  </div>

  <div class='itemizedimages'>
    <div class="image" (click)="openItem($event)">
      <h4>Development</h4>
      <p>From Websites to WebApps</p>
      <div class="background"></div>
      <img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
    </div>
    <div class="image" (click)="openItem($event)">
      <h4>Marketing</h4>
      <p>Dominate your market</p>
      <div class="background"></div>
      <img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
    </div>
    <div class="image" (click)="openItem($event)">
      <h4>Design</h4>
      <p>Creating the best user experience</p>
      <div class="background"></div>
      <img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
    </div>
    <div class="image" (touchstart)="openItem($event)">   
      <h4>UI/UX</h4>
      <p>Its all about the user experience</p>
      <div class="background"></div>
      <img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
    </div>
    
  </div>

  <button>View Our Work</button>
</div>

<div class='peeps'>
  <div class="container">
    <div class="info">
      <h3>The Crew</h3>
      <p>Donec orci quam, dignissim non eros eget, egestas iaculis dui. Nulla semper nibh vehicula, pretium augue eget, sodales enim. Nam eros leo, cursus vel ex id, fermentum pharetra ipsum. Fusce et euismod dolor. Vivamus tristique nibh vitae tortor faucibus cursus. Duis ultrices a nisi ac lacinia. Vivamus gravida auctor magna, sit amet ornare nisl vehicula non. Duis accumsan magna sed massa venenatis, vitae varius ex aliquet. Donec convallis iaculis dignissim. Sed at interdum turpis.</p>
    </div>

    <img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
  </div>
</div>

<div class='people'>
  <div class="card">
    <div class="person">
      <img src="https://images.unsplash.com/photo-1544723795-3fb6469f5b39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=670&q=80">
      <div class="info">
          <h3>Thomas Balaban</h3>
          <p>Donec orci quam, dignissim non eros eget, egestas iaculis dui. Nulla semper nibh vehicula, pretium augue eget, sodales enim. Nam eros leo, cursus vel ex id, fermentum pharetra ipsum. Fusce et euismod dolor. Vivamus tristique nibh vitae tortor faucibus cursus. Duis ultrices a nisi ac lacinia. Vivamus gravida auctor magna, sit amet ornare nisl vehicula non. Duis accumsan magna sed massa venenatis, vitae varius ex aliquet. Donec convallis iaculis dignissim. Sed at interdum turpis.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="person">
      <img src="https://images.unsplash.com/photo-1544723795-3fb6469f5b39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=670&q=80">
      <div class="info">
          <h3>Thomas Balaban</h3>
          <p>Donec orci quam, dignissim non eros eget, egestas iaculis dui. Nulla semper nibh vehicula, pretium augue eget, sodales enim. Nam eros leo, cursus vel ex id, fermentum pharetra ipsum. Fusce et euismod dolor. Vivamus tristique nibh vitae tortor faucibus cursus. Duis ultrices a nisi ac lacinia. Vivamus gravida auctor magna, sit amet ornare nisl vehicula non. Duis accumsan magna sed massa venenatis, vitae varius ex aliquet. Donec convallis iaculis dignissim. Sed at interdum turpis.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="person">
      <img src="https://images.unsplash.com/photo-1544723795-3fb6469f5b39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=670&q=80">
      <div class="info">
          <h3>Thomas Balaban</h3>
          <p>Donec orci quam, dignissim non eros eget, egestas iaculis dui. Nulla semper nibh vehicula, pretium augue eget, sodales enim. Nam eros leo, cursus vel ex id, fermentum pharetra ipsum. Fusce et euismod dolor. Vivamus tristique nibh vitae tortor faucibus cursus. Duis ultrices a nisi ac lacinia. Vivamus gravida auctor magna, sit amet ornare nisl vehicula non. Duis accumsan magna sed massa venenatis, vitae varius ex aliquet. Donec convallis iaculis dignissim. Sed at interdum turpis.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="person">
      <img src="https://images.unsplash.com/photo-1544723795-3fb6469f5b39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=670&q=80">
      <div class="info">
          <h3>Thomas Balaban</h3>
          <p>Donec orci quam, dignissim non eros eget, egestas iaculis dui. Nulla semper nibh vehicula, pretium augue eget, sodales enim. Nam eros leo, cursus vel ex id, fermentum pharetra ipsum. Fusce et euismod dolor. Vivamus tristique nibh vitae tortor faucibus cursus. Duis ultrices a nisi ac lacinia. Vivamus gravida auctor magna, sit amet ornare nisl vehicula non. Duis accumsan magna sed massa venenatis, vitae varius ex aliquet. Donec convallis iaculis dignissim. Sed at interdum turpis.</p>
      </div>
    </div>
  </div>
  <div class="card">
      <div class="person">
        <img src="https://images.unsplash.com/photo-1544723795-3fb6469f5b39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=670&q=80">
        <div class="info">
            <h3>Thomas Balaban</h3>
            <p>Donec orci quam, dignissim non eros eget, egestas iaculis dui. Nulla semper nibh vehicula, pretium augue eget, sodales enim. Nam eros leo, cursus vel ex id, fermentum pharetra ipsum. Fusce et euismod dolor. Vivamus tristique nibh vitae tortor faucibus cursus. Duis ultrices a nisi ac lacinia. Vivamus gravida auctor magna, sit amet ornare nisl vehicula non. Duis accumsan magna sed massa venenatis, vitae varius ex aliquet. Donec convallis iaculis dignissim. Sed at interdum turpis.</p>
        </div>
      </div>
    </div>
</div>

<app-contact-page></app-contact-page>