<footer>
  <div class='topcolorbar'></div>
  <div class="footer">
    <div class='nav'>
      <p>Navigation</p>
      <div class="menu">
        <ul>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/">Home</a></li>
          <li routerLinkActive="active"><a routerLink="/portfolio">Our Work</a></li>
          <li routerLinkActive="active"><a routerLink="/services">Services</a></li>
          <li routerLinkActive="active"><a routerLink="/about">About Us</a></li>
          <li routerLinkActive="active"><a routerLink="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="contact-info">
      <p>Call / Text</p>
      <div class="call">
        <div class="icons">
          <i class="material-icons">phone_android</i>
        </div>
        <div class="info">
          <p>724-691-8106</p>
        </div>
      </div>
      <p>Enquiries</p>
      <div class="email">
        <div class="icons">
          <i class="material-icons">email</i>
        </div>
        <div class="info">
          <p><a href="mailto:balabaninteractive@gmail.com">balabaninteractive@gmail.com</a></p>
        </div>
      </div>
    </div>
    <div class="about">
      <div class="logo">
        <img src="../../../../assets/logo.png" />
        <h6>Ttabz</h6>
      </div>
      <p>Founded in Pittsburgh, Ttabz is a independant studio specializing in Digital Marketing, Web Development &amp; Design. Our team includes designers and developers based locally, and believe in the individual yinzer spirit.</p>
    </div>
    <p class='copywrite'>&copy; 2019 - ttabz</p>
  </div>
  <div class='botcolorbar'></div>
</footer>