<div class="home">
  
  <div class="toplogo">
    <div class="logo">
      <h1>Ttabz</h1>
      <h2>impactful websites</h2>
    </div>
  </div>

  <div class="intro">
    <h3 class="skills">
      <span>GRAPHIC DESIGN</span> 
      <span>WEBSITE DESIGN</span>
      <span>WEBSITE DEVELOPMENT</span>
    </h3>

    <p>We’re pretty damn good at making effective, affordable websites for our clients. Before wasting valuable time trying to do things yourself, or with nerds who have no style, have a quick chat with us : )</p>
  </div>

  <div class="intro-info">
    <div class='botcolorbar'></div>
    <p>We don’t just take your order and serve you a web design or mobile app. Lounge Lizard’s website designers, website developers and mobile app developers take the time to get to know you and your market to create an all-encompassing digital marketing presence. This is how we have become one of the Best Website Design Companies in the World.</p>
    <div class='botcolorbar'></div>
  </div>

  <div class="featured">
    <h3>Featured</h3>
    <app-portfolio-piece piece="3"></app-portfolio-piece>
  </div>

  <div class='approach'>
    <div class='botcolorbar2'></div>
    <h3>APPROACH</h3>
    <p>In placerat enim mauris, vel interdum neque fringilla vel. Nulla dapibus urna imperdiet est faucibus congue. Cras dolor magna, fermentum at sapien quis, laoreet dignissim sem. Mauris non sapien justo. Vestibulum placerat nibh eget eros sagittis, vel elementum mi maximus. Integer id tellus pretium magna cursus posuere. Morbi ullamcorper sit amet diam eget semper. Nullam fringilla lectus in enim fermentum, ac condimentum quam accumsan. Fusce volutpat diam in eros consequat, in dignissim nulla luctus. Nullam vestibulum nisl id mattis vestibulum. Etiam volutpat auctor convallis. Praesent vitae elementum justo. Sed at justo mauris. Donec ac accumsan diam, ut facilisis mi.</p>
    <div class='botcolorbar2'></div>
  </div>
  
  <h3>PHILOSOPHY</h3>
  <p>In placerat enim mauris, vel interdum neque fringilla vel. Nulla dapibus urna imperdiet est faucibus congue. Cras dolor magna, fermentum at sapien quis, laoreet dignissim sem. Mauris non sapien justo. Vestibulum placerat nibh eget eros sagittis, vel elementum mi maximus. Integer id tellus pretium magna cursus posuere. Morbi ullamcorper sit amet diam eget semper. Nullam fringilla lectus in enim fermentum, ac condimentum quam accumsan. Fusce volutpat diam in eros consequat, in dignissim nulla luctus. Nullam vestibulum nisl id mattis vestibulum. Etiam volutpat auctor convallis. Praesent vitae elementum justo. Sed at justo mauris. Donec ac accumsan diam, ut facilisis mi.</p>


</div>