<div class="toplogo">
  <div class="logo">
    <h2>Thomas Balaban</h2>
    <h3>Pittsburgh Web Designer</h3>
  </div>
</div>

<div class="textSection">
  <div class="skills">
    <span>UI/UX Design</span> 
    <span>ONLINE STRATEGIST</span>
    <span>WEBSITE DEVELOPMENT</span>
  </div>

  <p>I am a Pittsburgh based Web Developer with over 7 years of professional experience in a wide range of disciplines. Whenever I am not developing a project you can find me teaching people how to make their passion projects from start to finish using a lesson plan of my own design. I spend the rest of my time learning, currently I am learning more in-depth software engineering principles with Angular 2+ and C#. Find me at one of Pittsburgh's unique bars or on discord finding the perfect gif to send to my peers!</p>
</div>

<div class="textSection darkbg bars">
  <div class='botcolorbar topbar'></div>
  <p>My primary focus is in Front-End Development with a extra focus on standards as well as UX/UI Design. However I am well versed in many other things, such as Back-End Development, Online Marketing, and UX/UI Design.</p>
  <div class='botcolorbar botbar'></div>
</div>

<div class="featured">
  <h3>Featured Work</h3>
  <app-portfolio-piece piece="3"></app-portfolio-piece>
</div>

<div class='textSection darkbg bars'>
  <div class='botcolorbar2 topbar'></div>
  <h3>The Beginning</h3>
  <p>My journey into web development started at a young age when I was first getting involved in competitive gaming. As a player of strategy games back then like Runescape and Yugioh I soon found myself involved in clans and sites thats often needed updates and/or improvements. I got well versed in Adobe Photoshop and started making websites in Freewebs and Geocities, have you heard of these (sorry if you have)? I started making or updating websites for my groups and various other small but unique organizations such as Alter Reality Games. By the time I reached High School I was already committed to being a Web Developer.</p>
  <p>I attended Pittsburgh Technical College and studied under <a href="http://www.joshuasager.com/" target="_blank">Josh Sager</a> and <a href="https://www.linkedin.com/in/frank-schurter-38659b22/" target="_blank">Frank Schurter</a>. During my time there I became a teachers assistant due to my previous experience and teaching nature! I always enjoyed helping lead others to their path of success, and tutoring was a great real world experience to help me learn how to become better at that along with learning a lot myself! You would be surprised what kind of bugs can come out of the same small project from different points of view.</p>
  <div class='botcolorbar2 botbar'></div>
</div>

<div class='textSection philo'>
  <h3>The Now</h3>
  <p>Now I haved worked on many high profile websites such as <a href="https://www.fredrogers.org/" target="_blank">Fred Rogers</a>, <a href="http://www.mylan.com" target="_blank">Mylan</a>, and many others. Please check out my <a routerLink="/portfolio" target="_blank">portfolio</a> for a sample! I currently work for Dicks Sporting Goods, recently converting Field and Stream's and Golf Galaxy's homepages from static sites to maintainable dynamically generated pages. I also develop marketing pieces and in-office tools to improve workflow.</p>
  <p>Currently in my free time I am focusing on improving my software engineering skills, focusing on concepts such as Functional Programming and Data Structures / Algorithms. Outside of code I am currently working on learning stand-up comedy - I am terrible at it.</p>
</div>

<div class='textSection darkbg bars'>
  <div class='botcolorbar2 topbar'></div>
  <h3>The End</h3>
  <p>A long journey for me so far, and congratulations to you for making it this far! I am a passionate developer that has got to enjoy the field since a young age. I am working on improving my skills while maintaining sites for many high profile clients!</p>
  <p>At the end of this you may have a few questions:</p>
  <ul>
    <li>What can you do for me?</li>
    <li>What Technologies do you work with?</li>
    <li>How could I contact you</li>
  </ul>
  <p>To answer the first three - I can provide you a fully developed Full-Stack Web Application. My strongest languages / frameworks are <strong>HTML - CSS - JS - SQL - PHP - C# - WordPress - Angular</strong>. With many years within the industry I can recommend what technology would be best for your project! I can cover both the design and development processes and provide assistance on digital marketing!</p>
  <div class='botcolorbar2 botbar'></div>
</div>

<div class='textSection philo'>
  <app-contact-form></app-contact-form>
</div>

<app-footer></app-footer>