<div class="toplogo">
  <div class="logo">
    <h1>Ttabz</h1>
    <h2>'Tailored Experiences</h2>
  </div>
</div>

<div class="textSection">
  <h3 class="skills">
    <span>GRAPHIC DESIGN</span> 
    <span>BUSINESS STRATEGY</span>
    <span>WEBSITE DEVELOPMENT</span>
  </h3>

  <p>We are a Pittsburgh PA based digital marketing agency of like minded individuals who want to help your company succeed. Our squad is a group of experts in their individual fields that have chose to come together to assist each other with projects. Our story is different. We are not solo members with a singular job title. We are helpers to each other to assist you in receiving the best product for your business!</p>
</div>

<div class="textSection darkbg bars">
  <div class='botcolorbar topbar'></div>
  <p>Websites, Software, SEO, and more. It's all right here. browse our individual members work and then learn more about our unique process and business strategies.</p>
  <div class='botcolorbar botbar'></div>
</div>

<div class="featured">
  <h3>Featured</h3>
  <app-portfolio-piece piece="3"></app-portfolio-piece>
</div>

<div class='textSection darkbg bars'>
  <div class='botcolorbar2 topbar'></div>
  <h3>APPROACH</h3>
  <p>We don’t just take your order and serve you a run-of-the-mill solution predesigned by someone undocumented. We will take the take to get to know you and your market to create the best possible solution.</p>
  <div class='botcolorbar2 botbar'></div>
</div>

<div class='textSection philo'>
  <h3>PHILOSOPHY</h3>
  <p>At Ttabz our mission was to provide individual freelancers that excel at their work a place to colloberate and work together to build highly innovative solutions. We all hold each other to high standards to provide assistance of the highest quality. The best person for a job will take on the work, and everyone else is here to assist them to collaberatively bring you the best solution.</p>
</div>

<app-contact-form></app-contact-form>