<div class = "aboutflex column grid10">
  <h1 id = "aboutH" class = "t-left opacity-none">About</h1>
  <p id = "aboutP" class ="t-left opacity-none">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. </p>
  <button id = "aboutButton" class = "no-border opacity-none">
      <span>Learn More!</span>
  </button>
</div>
