/* You can add global styles to this file, and also import other style files */

@import 'styles/manifest';

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    line-height: 1.2;
}

html, body {
    height: 101%;
    font-family: $lato;
    background: #dedede;
}