@import '../../../styles/helpers/vars.scss';

.portfolio {
    padding: 20px 20px 0;
    width: 100%;
    column-count: 1;
    column-gap: 30px;
    max-width: 1500px;
    margin: 0 auto;

    @media(min-width: 670px) { 
        column-count: 2;
    }

    @media(min-width: 1024px) {
        padding: 40px 40px 0;
        column-count: 3;
    }

    .background {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        left: 0;
        top: 0;
        z-index: 2;
        display: none;
    }
}

.portfolioPiece {
    break-inside: avoid;
    transition: all 0.2s ease;
    margin: 0 0 20px;

    @media(min-width: 1024px),(max-height: 768px) {
        &.hover {
            transform: scale(1.1);
        }

        &.item-hovered:not(.hovered) {
            transform: scale(0.95);
        }
    }

    &.fullscreen {
        position: fixed;
        width: 80%;
        height: 80%;
        overflow: hidden;
        left: 10%;
        top: 10%;
        z-index: 2;
    }
}

.imageHolder {
    position: relative;
    
    .cardImage {
        width: 88%;
        margin: 0 6%;
        border-radius: 3px;
    }

    .learn-more {
        margin: 0 auto;
        position: absolute;
        top: 91%;
        left: 50%;
        width: 50%;
        transform: translate(-50%, -50%);
        background: #0db991;
        background: linear-gradient(148deg, #0db991 0%,#a1ff5e 100%);
        box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.5);
        padding: 10px 10px 15px;
        border-radius: 3px;
        border: none;
        line-height: 1;
        font-size: 2.4rem;
        text-transform: uppercase;
        font-family: $bebas;
        font-weight: 900;
        letter-spacing: 0.15rem;
        color: #ffffff;
        text-shadow:
            -1px -1px 0 rgba(0, 0, 0, 0.6),  
            1px -1px 0 rgba(0, 0, 0, 0.6),
            -1px 1px 0 rgba(0, 0, 0, 0.6),
            1px 1px 0 rgba(0, 0, 0, 0.6);

        &:hover {
            cursor: pointer;
        }
    }
}

.card {
    background: #ffffff;
    padding: 20px 0 0;
    margin: 0 0;
    border-radius: 3px;
    position: relative;
    top: -10px;
    box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.2);

    h3 a {
        padding: 0 20px;
        margin: 10px 0 5px;
        line-height: 0.85;
        font-size: 5rem;
        color: $green;
        text-decoration: none;
        display: block;
    }

    h4 {
        padding: 0 20px;
        font-size: 3rem;
    }

    .card-info {
        background: #fff;
        position: relative;
        padding: 20px 0 0;
        box-shadow: inset 0px -23px 15px -23px rgba(0,0,0,0.75);

        .card-info-inner {
            transition: all 0.5s ease;
 
            &.active {
                max-height: 800px;
                overflow-y: scroll;

                @media(min-width: 670px){ 
                    max-height: inherit;
                }
            }

            &.inactive {
                max-height: 65px;
                overflow: hidden;

                @media(min-width: 670px){ 
                    max-height: inherit;
                }

                @media(min-width: 1024px) and (min-height: 768px) {
                    display: none;
                }
            }

            p {
                text-align: center;
                padding: 0 20px;
            }

            a {
                color: $green;
                text-decoration: none;
                display: block;
                font-size: 3rem;
                font-family: $bebas;
                margin: 15px 0 20px;
            }
        }
    }
}

.icon-container {
    padding: 0;
    height: 40px;
    background: linear-gradient(160deg, #f2a713 2%,#ff0068 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    display: flex;
    justify-content: center;
    align-items: center;

    @media(min-width: 670px){ 
        display: none;
    }

    i {
        color: #a1ff5e;
        font-size: 7rem;
        box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.5);
        text-shadow:
            -1px -1px 0 rgba(170, 9, 236, 0.2),  
            1px -1px 0 rgba(0, 0, 0, 0.2),
            -1px 1px 0 rgba(0, 0, 0, 0.2),
            1px 1px 0 rgba(0, 0, 0, 0.2);
    }
}

.card-footer {
    position: relative;
    background: #0db991;
    background: linear-gradient(148deg, #0db991 0%,#a1ff5e 100%);
    top: -10px;
    padding: 3px 0 0;
    box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.2);

    .tech {
        display: block;
        padding: 0 10px 3px;
    }

    span {
        display: inline-block;
        background: #aa09ec ;
        background: linear-gradient(175deg, #aa09ec 0%, #6e00ff 100%);
        box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.5);
        margin: 5px;
        padding: 6px 10px 3px;
        border-radius: 3px;
        line-height: 1;
        font-size: 2.4rem;
        text-transform: uppercase;
        font-family: $bebas;
        font-weight: 900;
        letter-spacing: 0.15rem;
        color: #ffffff;
        text-shadow:
            -1px -1px 0 rgba(170, 9, 236, 0.2),  
            1px -1px 0 rgba(0, 0, 0, 0.2),
            -1px 1px 0 rgba(0, 0, 0, 0.2),
            1px 1px 0 rgba(0, 0, 0, 0.2);
    }

    h5 {
        background: #ff0068;
        background: linear-gradient(180deg, #c010d3 1%,#ff0068 100%); 
        padding: 10px;
        font-weight: 900;
        font-size: 3.6rem;
        color: #ffffff;
        letter-spacing: 0.15rem;
        box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.2);
        text-shadow:
            -1px -1px 0 rgba(0, 0, 0, 0.2),  
            1px -1px 0 rgba(0, 0, 0, 0.2),
            -1px 1px 0 rgba(0, 0, 0, 0.2),
            1px 1px 0 rgba(0, 0, 0, 0.2);
    }
}