@import '../../../styles/helpers/vars.scss';
@import '../../../styles/helpers/tools.scss';

.portfolio {
    padding: 20px 20px 0;
    width: 100%;
    column-count: 1;
    column-gap: 30px;
    max-width: 1500px;
    margin: 0 auto;

    @media(min-width: 670px) { 
        column-count: 2;
    }

    @media(min-width: 1024px) {
        padding: 40px 40px 0;
        column-count: 3;
    }

    .background {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: #e6e6e6;
        left: 0;
        top: 0;
        z-index: 2;
        display: none;
    }
} 

.portfolioPiece {
    break-inside: avoid;
    transition: all 0.1s ease;
    margin: 0 0 20px;

    @media(min-width: 1024px),(max-height: 768px) {
        &.hovered {
            transform: scale(1.05);
            transform-origin: top center;
        }

        &.item-hovered:not(.hovered) {
            transform: scale(0.95);
        }
    }

    &.fullscreen {
        position: fixed;
        width: 96vw;
        margin: calc(2vh + 80px) 2vw 2vh;
        height: calc(96vh - 80px);
        background: #fff;
        left: 0%;
        top: 0%;
        z-index: 2;
        display: flex;
        flex-direction: row-reverse;
        overflow: hidden;

        @media(min-width: 1024px),(max-height: 768px) {
            &.hovered {
                transform: scale(1);
            }
        }

        .imageHolder {
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 1;

            img {
                width: auto;
                height: 101%;
                margin: 0;
            }

            .learn-more {
                display: none;
            }

            .close {
                display: block;
                position: absolute;
                right: 0;
                top: 0;
            }
        }

        .card-container {
            width: 40%;
            height: calc(100vh - (4vh + 80px));
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: hidden;
            background: #ffffff;
            position: relative;
            z-index: 2;

            .card {
                top: 0;
                box-shadow: none;
                border-radius: 0;
                width: 100%;
                left: 0;

                .card-info {
                    box-shadow: none;

                    .card-info-inner {
                        display: inline-block;

                        p {
                            font-size: 1.5rem;
                        }
                    }
                }
            }

            .card-footer {
                top: 0;
                padding: 0;
                width: 100%;
                left: 0;


                .tech {
                    padding: 3px 0;
                }
            }
        }
    }
}

.imageHolder {
    position: relative;
    
    .cardImage {
        width: 88%;
        margin: 0 6%;
        border-radius: 3px;
    }

    .learn-more {
        margin: 0 auto;
        position: absolute;
        bottom: 10px;
        left: 50%;
        width: 50%;
        transform: translateX(-50%);
        @include bgGrad(#0db991, #a1ff5e, 148deg);
        box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.5);
        padding: 5px 10px 5px;
        border-radius: 3px;
        border: none;
        line-height: 1;
        font-size: 2.4rem;
        text-transform: uppercase;
        font-family: $bebas;
        font-weight: 900;
        letter-spacing: 0.15rem;
        color: #ffffff;
        @extend %textShadow;

        &:hover {
            cursor: pointer;
        }
    }

    .close {
        display: none;
        cursor: pointer;
        background: #0db991;
        border: none;
        color: #ffffff;
        padding: 3px 5px;

        i {
            font-size: 4rem;
        }
    }
}

.card {
    background: #ffffff;
    padding: 20px 0 0;
    margin: 0 0;
    border-radius: 3px;
    position: relative;
    top: -10px;
    box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.2);
    text-align: center;

    h3 a {
        padding: 0 20px;
        margin: 10px 0 5px;
        line-height: 0.85;
        font-size: 5rem;
        color: $green;
        text-decoration: none;
        display: block;
    }

    h4 {
        padding: 0 20px;
        font-size: 3rem;
    }

    .card-info {
        background: #fff;
        position: relative;
        padding: 20px 0 0;
        box-shadow: inset 0px -23px 15px -23px rgba(0,0,0,0.75);

        .card-info-inner {
            transition: all 0.5s ease;
 
            &.active {
                max-height: 800px;
                overflow-y: scroll;

                @media(min-width: 670px){ 
                    max-height: inherit;
                }
            }

            &.inactive {
                max-height: 65px;
                overflow: hidden;

                @media(min-width: 670px){ 
                    max-height: inherit;
                }

                @media(min-width: 1024px) and (min-height: 768px) {
                    display: none;
                }
            }

            p {
                text-align: center;
                padding: 0 20px;
            }

            a {
                color: $green;
                text-decoration: none;
                display: block;
                font-size: 3rem;
                font-family: $bebas;
                margin: 15px 0 20px;
            }
        }
    }
}

.icon-container {
    padding: 0;
    height: 40px;
    @include bgGrad(#f2a713, #ff0068, 160deg);
    display: flex;
    justify-content: center;
    align-items: center;

    @media(min-width: 670px){ 
        display: none;
    }

    i {
        color: #a1ff5e;
        font-size: 7rem;
        box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.5);
        @extend %textShadow;
    }
}

.card-footer {
    position: relative;
    @include bgGrad(#0db991, #a1ff5e, 148deg);
    top: -10px;
    padding: 3px 0 0;
    box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.2);
    text-align: center;

    .tech {
        display: block;
        padding: 0 10px 3px;
    }

    span {
        display: inline-block;
        @include bgGrad(#aa09ec, #6e00ff, 175deg);
        box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.5);
        margin: 5px;
        padding: 6px 10px 3px;
        border-radius: 3px;
        line-height: 1;
        font-size: 2.4rem;
        text-transform: uppercase;
        font-family: $bebas;
        font-weight: 900;
        letter-spacing: 0.15rem;
        color: #ffffff;
        @extend %textShadow;
    }

    h5 {
        @include bgGrad(#c010d3, #ff0068, 180deg);
        text-align: center;
        padding: 10px;
        font-weight: 900;
        font-size: 3.6rem;
        color: #ffffff;
        letter-spacing: 0.15rem;
        box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.2);
        @extend %textShadow;
    }
}