@import "../../../styles/helpers/animations.scss";
@import "../../../styles/helpers/tools.scss";
@import "../../../styles/helpers/generics.scss";

main{
    margin: 655px 0 0;
    padding: 0 35px;
    background: $backGrey;

    h1{
        @include fontSettings($white, 26px, 500, 1.3, 100px 0 10px);
        transition: all 0.25s linear;
    }

    button{
        @include dimensions($blue, 175px, 50px, 5px, 20px auto -25px);
        opacity: 0.95;
        transition: all 0.25s linear 0.1s;

        &:hover{
            background: $green;
        }

        span{
            @include fontSettings($white, 20px, 300, 1, auto);
        }
    }
}
